<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

<h1>Hotels</h1>

{{ range . }}
<h2>{{ .Name }} - <i>{{ .Region }}</i></h2>
<h3>Address</h3>
{{ .Address }}<br>
{{ .City }}<br>
{{ .Zip }}<br>
{{ end }}

</body>
</html>
