<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body>
<ul>
    {{range .}}
    <li>{{uc .Name}} [{{ft .Name}}]- {{.Motto}}</li>
    {{end}}
</ul>
</body>
</html>
