<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body>
<ul>
    <li>{{.Name}} - {{.Motto}}</li>
</ul>
<h2>With vars</h2>
<ul>
    {{$x := .Name}}
    {{$y := .Motto}}
    <li>{{$x}} - {{$y}}</li>
</ul>
</body>
</html>
